<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Your Lighthouse iCal feed</title>
	<link rel="stylesheet" href="all.css" type="text/css" />
</head>
<body>
	<h1>Your Lighthouse iCal feed</h1>
	<p><a href="webcal://lighthouse-ical.heroku.com/<%= @params[:account] %>/<%= @params[:token] %>/<%= @params[:projectid] %>">Subscribe in iCal</a>,
	   or use the following URL:</p>
	<pre>http://<%= @request.host_with_port %>/<%= @params[:account] %>/<%= @params[:token] %>/<%= @params[:projectid] %></pre>
	<div id="foot">
   	<p>A <a href="http://craiga.id.au/">Craig Anderson</a> joint. <a href="https://github.com/craiga/lighthouse-ical-web">Get the code on GitHub.</a></p>
   </div>
</body>
</html>