<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Your Lighthouse iCal feed</title>
	<link rel="stylesheet" href="all.css" type="text/css" />
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22388872-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<h1>Your Lighthouse iCal feed</h1>
	<p><a href="webcal://<%= @request.host_with_port %>/<%= @params[:account] %>/<%= @params[:token] %>/<%= @params[:projectid] %>">Subscribe in iCal</a>,
	   or use the following URL:</p>
	<pre>http://<%= @request.host_with_port %>/<%= @params[:account] %>/<%= @params[:token] %>/<%= @params[:projectid] %></pre>
	<div id="foot">
   	<p>A <a href="http://craiga.id.au/">Craig Anderson</a> joint. <a href="https://github.com/craiga/lighthouse-ical-web">Get the code on GitHub.</a></p>
   </div>
</body>
</html>